body{
    margin: 0%;
}
header{
    width: auto;
    height: auto;
    background-color: black;
}
#titulo{
    margin-right: 70%;
    margin-left: 50px;
    color: #fff;
    display: inline-block;
}
.links{
    margin-right: 20px;
    margin-top: 20px;
}
#git{
    height: 40px;
}
#linkedin{
    height: 40px;
}
#secao1{
    background-color: rgb(197, 197, 197);
    text-align: center;
}
#victor{
    width: 200px;
    padding-top: 30px;
}
.paragrafos{
    font-family: Arial, Helvetica, sans-serif;
}
#secao2{
    margin-left: 30%;
    margin-right: 30%;
}
